<div class="row">
  <div class="span10">
    <div class="boxes">
      <fieldset>
        <legend><%= @title %></legend>
        <%= render 'shared/assessments' %>
      </fieldset>
      <% if current_user == @user %>
        <%= link_to "New Lesson", new_user_assessment_path(@user) %>
      <% end %>
    </div>
  </div>
</div>