<% @comments.each do |comment| %>
    <table>
      <tr><td><strong><%= comment.commenter.name %></strong> - <%= comment.subject %></td></tr>
      <tr><td><%= comment.body %></td></tr>
    </table><br />
<% end %>
