<% provide(:title, @title) %>
<div class="row">
  <div class="span8">
    <legend><%= @title %></legend>
    <% if @users.any? %>
      <ul class="users">
        <%= render @users %>
      </ul>
    <% end %>
  </div>
</div>