<table class="table">
  <tbody>
    <% @lessons.each do |lesson| %>
      <tr>
        <td><%= link_to lesson.name, lesson %></td>
        <td><%= distance_of_time_in_words(lesson.created_at, Time.now) %> ago</td>
        <td><%= lesson.description %></td><td></td>
      </tr>
    <% end %>
  </tbody>
</table>