<div class="boxes">
<div id="vocab_lists">
<% @vocab_lists.each do |vocab_list| %>
  <div class="boxes">
    <table>
      <tr><td><strong><%= link_to vocab_list.name, user_vocab_list_path(@user, vocab_list) %></strong> - <%= vocab_list.description %></td></tr>
    </table><br />
  </div>
<% end %>
</div>
</div>