<div class="boxes">
<div id="lessons">
<% @lessons.each do |lesson| %>
  <div class="boxes">
    <table>
      <tr><td><strong><%= link_to lesson.name, lesson %></strong> - <%= lesson.description %></td></tr>
      <tr><td><%= lesson.body %></td></tr>
    </table><br />
  </div>
<% end %>
</div>
</div>