<div class="row">
  <div class="span10">
    <div class="boxes">
      <fieldset>
        <legend><%= @title %></legend>
        <%= render 'shared/lessons' %>
      </fieldset>
      <%= link_to "New Lesson", new_user_lesson_path(@user) %>
    </div>
  </div>
</div>