<div class="row">
  <div class="span10">
    <div class="boxes">
      <fieldset>
        <legend><%= @title %></legend>
        <%= render 'shared/courses' %>
      </fieldset>
      <%= link_to "New Unit", new_user_course_path(@user) %>
    </div>
  </div>
</div>