<div class="row">
  <div class="span10">
    <div class="boxes">
      <fieldset>
        <legend><%= @title %></legend>
        <%= render 'shared/courses' %>
      </fieldset>
      <p><%= link_to "Create Course", new_course_path %></p>
    </div>
  </div>
</div>