<div class="row">
  <div class="span10">
    <div class="boxes">
      <fieldset>
        <legend><%= @title %></legend>
        <%= render 'shared/units' %>
      </fieldset>
    </div>
  </div>
</div>