<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to "Home", :root %></li>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Privacy", "/privacypolicy" %></li>
    </ul>
  </nav>
</footer>